HBox {
    -fx-spacing: 5;
    -fx-alignment: center;
}

#hboxfornodes {
    -fx-border-color: black;
    -fx-padding: 2;
    -fx-alignment: bottom-left;
}

#pane {
    -fx-border-color: black;
}

.button {
    -fx-font-family: "Ariel";
    -fx-font-weight: bold;
    -fx-background-radius: 5, 5;
}

.label {
    -fx-font-family: "Ariel";
    -fx-font-weight: bold;
}

#labels {
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

#labelwithred {
    -fx-text-fill: red;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}
